body {
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', 'Roboto', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    background-color: #242323;
}

header figure {
    margin: 0;
    padding: 15px 0 15px 0;
}

header img {
    width: 50px;
    text-align: center;
}

main {
    background-image: url(lancer.jpg);
    background-size: 100%;
    background-position: 25% 25% ;
    background-repeat: no-repeat;

    box-shadow: inset 0px 1px 17px 0px #000000;
    min-height: 100vh;
    
}

main h1{
    margin: 0;
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
    font-size: 48px;
    letter-spacing: 3px;
    padding: 200px 0 0 0;
    color: #242323;
}

#buttoncont {
    margin: 40px;
    text-align: center;

}

#button {
    background-color: #242323;
    border: 0;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    color: white;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    text-decoration: none;
}

#button:hover {
    background-color: #FFBD4A;
    color: #242323;
}

footer {
    text-align: center;
    bottom: 0;
    background-color: #242323;
    color: white;
}
footer p {
    margin: 0;
    padding: 20px;
}